.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 1100px;
  padding: 25px;
  padding-block: 85px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 20;
}
.main-header {
  position: relative;
  margin-inline: auto;
}

.toggle-menu {
  display: none;
}
.nav {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.1rem;
}
.menu {
  display: flex;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .header {
    padding-block: 60px;
  }
  .nav {
    display: none;
    position: absolute;
    width: 90%;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background: hsl(209, 73%, 15%);
    padding-block: 60px;
    border-radius: 15px;
  }
  .show {
    display: flex;
  }
  .menu__item {
    display: flex;
    width: 100%;
  }
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
  }
}
.menu-link {
  padding: 5px;
  color: whitesmoke;
  position: relative;
  text-align: center;
  width: 100%;
}
.menu-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  transition: width ease 300ms;
}
.active {
  padding: 5px;
  color: whitesmoke;
  position: relative;
  text-align: center;
  width: 100%;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  transition: width ease 300ms;
}
.menu-link:hover::after {
  width: 100%;
  height: 3px;
}
.link {
  padding-inline: 45px;
  padding-block: 10px;
  background-color: #fff;
  font-size: 1.1rem;
  font-weight: medium;
  transition: all ease 300ms;
}
.link:hover {
  background-color: transparent;
  color: #fff;
  outline: 1.4px solid #fff;
}
@media screen and (max-width: 768px) {
  .toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    border: 1px solid white;
    font-size: 1rem;
  }
}
